:root {
    --main-color: #4CADCA;
    --sec-color: #2584a0;
    --ter-color: #044C7C;
    --wh-color: white;
}

.semData {
    position: relative;
    width: 50%;
    height: 100%;
}

.colGraph{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.typeOfGraph{
    position: relative;
    width: 100%;
    height: 15%;
    text-transform: capitalize;
}
.typeOfGraph h1{
    font-size: 7vh;
    text-align: center;
}
.typeOfGraph h2{
    font-size: 3vh;
    text-align: center;
}
.WeekTitle{
    display: block;
}
.WeekTitle h1{
    font-size: 7vh;
    text-align: center;
}
.WeekTitle h2{
    font-size: 3vh;
    text-align: center;
}
.DaysTitle{
    display: none;
}
.DaysTitle h1{
    font-size: 7vh;
    text-align: center;
}
.DaysTitle h2{
    font-size: 3vh;
    text-align: center;
}
.ow{
    display: flex;
    width: 100%;
    height: 85%;
}

.Graph {
    height: 100%;
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.ye {
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 400px;
    top: calc( 90vh/2 - 200px);
}

.showDatGrap{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.semData h2{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 4vh;
    color: var(--sec-color);
}

.DatGrap{
    cursor: pointer;
    color: white;
    padding: 2% 8%;
    width: 100%;
    height: 7%;
    justify-content: space-around;
    background-color: var(--ter-color);
    display: flex;
    flex-direction: row;
    gap: 5%;
    border-radius: 15px;
}
.DatGrap span{
    font-size: 2vh;
}
.white{
    color: white;
}

/*GUSTAVO_SETTINGS_CSS_CLASS*/
.DisNone{
    display: none;
}
.select{
    transition: transform .3s;
}
a:link{
    color: var(--main-color);
    text-decoration: none;
}
a:hover{
    color: var(--main-color);
    text-decoration: none;
}
a:active{
    color: var(--main-color);
    text-decoration: none;
}
a:visited{
    color: var(--main-color);
    text-decoration: none;
}
/*PAGINA_GENERAL*/
.SubSet{
    grid-column: 1/3;
    grid-row: 2/4;
    padding: 1vw;
    display: grid;
    background-color: white;
    margin-left: 8vw;
    margin-top: 4vh;
    position: absolute;
    width: 20vw;
    height: 50vh;
}
.OpcSet{
    position: relative;
    height: fit-content;
    width: 60%;
    font-size: 1.2rem;
    text-align: center;
}
.Line{
    background-color: var(--ter-color);
    margin-left: 0%;
    height: 2px;
    width: 11vw;
}

.Config{
    display: grid;
}

.Perfil{
    background-color: #fff;
    margin-left:8vw ;
    margin-top: 2vh;
    grid-row: 1/4;
    grid-column: 1/4;
    width: 25vw;
    height: 8vw;
}
.PagSet{
    width: 30vw;
}
.Confcircle-Set{
    margin-left: 33%;
    width:  34%;
    height: 100%;
    background-color: none;
    border-radius: 100%;
    border: white solid 2px;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.ConfcircleImg-Set{
    position: relative;
    border: white solid 8px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-position-x: center;
    background-position-y: center;
}
.SetPhotoBtn{
    margin-top: 2%;
    height: 10%;
    width: 20%;
    border-radius: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.Confcircle{
    position: absolute;
    width:  20.4%;
    height: 100%;
    background-color: none;
    border-radius: 100%;
    border: white solid 2px;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.ConfcircleImg{
    position: relative;
    border: var(--sec-color) solid 8px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-right: 10%;
    margin-left: 8%;
    background-image: url(../Img/PFP.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.OpcBtn{
    text-align: left;
    background-color: transparent;
    border: none;
    color:var(--ter-color);
    font-size: 4vh;
    width: 100%;
    height: 100%;
}
.ConUserPf-Set{
    width: 100%;
    height: 50%;
    display: flex;
}
.ConUserPf{
    position: absolute;
    width: 33%;
    height: 13%;
    margin: 13px;
    display: flex;
}
.ConNamePf{
    font-size: 25px;
    font-weight: 400;
    color: var(--sec-color);
    position: absolute;
    width: 60%;
    height: 100%;
    left: 8vw;
    display: grid;
    align-content: center;
}
.ConNamePf h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 14px;
    color: var(--ter-color);
    opacity: 0.6;
}
.ConNamePf h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 3.5vh;
    color: var(--ter-color);
}
.GasIcon{
    margin: 2vh;
    color: var(--wh-color);
}

.OpcBtn .GasIcon{
    margin: 2vh;
    color: var(--ter-color);
}
/*DIVS_DINAMICOS*/
/*DIV_PERFIL*/
.PerfSettings{
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    margin-top:8vh ;
    margin-right: 5vw;
    background-color: var(--sec-color);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    grid-column: 2/3;   
    width: 60vw;
    height: 75vh;
}
.PerfSettings h1{
    width: 100%;
    margin-left: 2vw;
    color: white;
    height: 15%;
    font-size: 8vh;
}
/*inputs de perfil*/
.Setlogin-container{
    width: 100%;
    height: 30%;
    border-radius: 1em;
    padding-top: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
	margin-top: 4%;
	display: grid;
	gap: 2.5em;
}
.Setlogin-group{
    bottom: 1%;
	position: relative;
	--color: white;
}
.Setlogin-input{
	width: 100%;
	font-size: 2.5vh;
	padding: .5vh;
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid white;	
	font-family: Poppins;
}


.Setlogin-input:focus,
.Setlogin-input:not(:placeholder-shown){
    font-size: 1.45vw;
	color: white;
}

.Setlogin-input:focus + .Setlogin-label, 
.Setlogin-input:not(:placeholder-shown) + .Setlogin-label{
	transform: translateY(-12px) scale(.7);
	transform-origin: left top;
	color: white
}
.Setlogin-label{
    font-size: 1.45vw;
	color: white;
	cursor: pointer;
	position: absolute;
	top: 0%;
	left: 5px;
	transform: translateY(5px);
	transition: transform .5s, color .3s;
        font-family: Poppins;
}
.Setlogin-line{
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: white;
	transform: scale(0);
	transform: left bottom;
	transition: transform .4s;
        font-family: Poppins;
}
.BtnSetDatI{
    text-align: center;
    font-size: 3vh;
    color:var(--ter-color);
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
/*nota*/
.BtnSetDat{
    text-align: center;
    font-size: 1.5vh;
    color:var(--ter-color);
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.BtnSetDat-Can{
    text-align: center;
    font-size: 1.5vh;
    color:white;
    border: none;
    background-color: var(--ter-color);
    width: 100%;
    height: 100%;
}
.SetDat{
    margin-top: 10%;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 20%;
    margin-top: 10%;
}
.SetDat-Can{
    margin-top: 10%;
    align-items: center;
    border-radius: 10px;
    background-color: var(--ter-color);
    width: 100%;
    height: 20%;
    margin-top: 10%;
}
.InputSetContainer{
    height: 100%;
    width: 100%;
}
.InputSetContainer form{
    background-color: transparent;
}
/*perfil tipo*/
.SetBt-perfiles{
    font-size: 1.5vh;
    width: 17%;
    height: 5%;
    background-color: var(--ter-color);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;  
    margin-top: 2%;   
    margin-left: 1%;
    margin-right: 1%;
}
.SetBt-perfiles i{
    margin: 1%;
    font-size: 500%;
    color:#FFFFFF;
    align-items: center;
    align-content: center;
}
.SetBt-perfiles h4{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1.5vh;
    color:#FFFFFF;
    font-weight: 500;
}
.SetBt-perfiles p{
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1vh;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.65;
}
.YourPerf{
    text-align: center;
    margin-top: 1vh;
    background-color: var(--ter-color);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    width: 17%;
    height: 5%;    
    margin-top: 2%;   
    margin-left: 1vw;
}
.YourPerf i{
    font-size: 4vw;
    color:#FFFFFF;
    align-items: center;
    align-content: center;
    
}
.YourPerf h4{
    margin-left: 4% ;
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 2vh;
    color:#FFFFFF;
    font-weight: 500;
}
.BtnChangeType{
    cursor: pointer;
    color: var(--ter-color);
    background-color: white;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1.7vh;
    font-weight: 600;
    width: 10%;
    height: 4%;    
    margin-top: 7%;
    margin-left: 1vw;
}
.BtnChangeTypeF{
    cursor: pointer;
    color: var(--ter-color);
    background-color: white;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1.7vh;
    font-weight: 600;
    width: 15%;
    height: 10%;    
    margin-top: 7%;
    margin-left: 1vw;
}
.DesYourType{
    overflow: hidden;
    color: white;
    font-size: 1.5vh;
    margin-right: 1%;
    margin-left: 2%;
    margin-top: 2%;
    background-color: transparent;
    width: 20vw;
}
.DesYourType p{
    text-align: justify;
}
.AlertYourType{
    color: white;
    font-size: 1.5vh;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    background-color: transparent;
    width: 15vw;
}
/*estructura de perfil*/
.PerfBody{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 4%;
}
.PerfData{
    width: 50%;
    height: 100%;
    display: grid;
}
.PerfLeft{
    display: flex;
    width: 100%;
    height: 45%;
    margin-bottom: 1%;
}
.PerfImg{
    height: 100%;
    width: 50%;
    align-items: center;
}
.SetPhoto{
    padding: 3%;
    border-radius: 10px;
    font-size: 1vw;
    position: relative;
    width: 40%;
    height: 20%;
    background-color: var(--ter-color);
    margin-top: 10%;
    margin-left: 30%;
    
}
.SetPhoto p{
    color: white;
    text-align: center;
}
.SetPhotoIn{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.PerfTitle{
    width: 100%;
    height: 15%;
}
.PerfType{
    display: block;
    margin-bottom: 16%;
    width: 100%;
    position: relative;
    background-color: var(--main-color);
    height: 40%;
}
.PerfType h1{
    font-size: 3vh;
}
.TypeBody{
    display: flex;
}
/*DIV_GASTOS*/
.GasSettings{
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    margin-top:8vh ;
    margin-right: 5vw;
    background-color: var(--sec-color);
    grid-column: 2/3;   
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    width: 60vw;
    height: 75vh;
}
.GasSettings h1{
    width: 100%;
    margin-left: 2vw;
    color: white;
    height: 15%;
    font-size: 8vh; 
}
.ContainerFrec{
    background-color: white;
    padding: 1vh 2vw 1vh 2vw;
}
.NameFrec{
    margin-bottom:1vh ;
    font-size: 2vw;
    color: white;
}
.ListFrec{
    overflow: auto;
    border-radius: 1rem;
    position: absolute;
    margin: 1.5vh;
    background-color: white;
    height: 56vh;
    width: 57vw;
}
.PeriodList{
    padding: 1.5vh;
    display: flex;
    font-size: 2.5vh;
    color: var(--ter-color);
    border-radius: 1rem;
    border: none;
    height: 6vh;
    background-color: white;
    width: 9vw;
    cursor: pointer;
    list-style: none;
    margin: 1vh 0 0 0;
}
.PeriodList i{
    margin:1% 6vw auto ;
    position: absolute;
    rotate: 90deg;
    transition: rotate .5s;
}
.PeriodList p{
    margin-right: 3vh
}
.PeriodShow{
    list-style: none;
    height: 0;
}
.DescriptionFre{
    width: 17vw;
    height: 13vh;
    color: var(--sec-color);
}
.DescriptionFre p{
    font-size: 1.5vh;
    overflow: hidden;
    text-align: justify;
}
.DescriptionFre h2{
    font-size: 2.5vh;
}
.DateStartFre{
    text-align: center;
    color: var(--sec-color);
}
.DateStartFre p{
    font-size: 1vw;
    margin: 1vh;
}
.DateStartFre h2{
    font-size: 2.5vh;
}
.PeriodListCont{
    position: relative;
    bottom: 1.4vh;
    list-style: none;
    transition: height .4s;
    height: 100px;
    text-align: center;
    width: 9vw;
    border-radius: 0 0 1vw 1vw;
    border-color: var(--main-color) solid 1px;
    background-color: white;
    overflow: hidden;
}
.ContainerDataFre{
    display: flex;
}
.PeriodAmount{
    position: relative;
    align-items: center;
    margin: 0 0 1vh 1vw;
    color: var(--sec-color);
}
.PeriodAmount input{
    text-align: center;
    position: absolute;
    width: 8vw;
    border: none;
    outline: none;
    font-size: 3vh;
    background-color: white;
    color: var(--sec-color);
}
.PeriodAmount input::placeholder{
    color: var(--sec-color);
    font-family: 'Poppins';
}
.FreLine{
    background-color: var(--ter-color);
    height: 11vh;
    width: 3px;
    margin: 0 1vw 0 1vw;
}
.PeriodAmount p{
    margin-top: 1vh;
    text-align: center;
    font-size: 2vh;
}
.PeriodAmount h3{
    text-align: center;
    font-size: 1.4vw;
    font-weight: 600;
}
.PeriodText{
    font-size: 1.8vh;
    border-bottom: var(--ter-color) solid 2px;
}
.PeriodItem{
    color: var(--ter-color);
}
.PeriodItem:hover{
    cursor: pointer;
    color: white;
    background-color: var(--ter-color);
}
.FreOptions{
    margin: 0 1vw 0 1vw;
    display: flex;
}
.FactFre{
    position: relative;
    align-items: center;
    border-radius: 1em;
    background-color: white;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    width: 15vw;
    height: 5vh;
    margin: 2vh 1vw 1vh 1vw;
}
.FactFre-Can{
    position: relative;
    align-items: center;
    color: white;
    border-radius: 1em;
    background-color: var(--ter-color);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    width: 15vw;
    height: 5vh;
    margin: 2vh 1vw 1vh 1vw;
}
.BtnFactFre{
    position: absolute;
    text-align: center;
    font-weight: 600;
    font-size: 2vh;
    color:var(--ter-color);
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.BtnFactFre i{
    margin: 0 0 0 1vh;
}
.BtnFactFreI{
    position: absolute;
    text-align: center;
    font-weight: 600;
    font-size: 2vh;
    color:var(--ter-color);
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.BtnFactFreI i{
    margin: 0 0 0 1vh;
}
.BtnFactFre-Can{
    position: absolute;
    text-align: center;
    font-size: 2vh;
    font-weight: 600;
    color:white;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.BtnFactFre-Can i{
    margin: 0 0 0 1vh;
}
.LinePad{
    margin-top: 3vh;
    background-color: var(--ter-color);
    width: 100%;
    height: .5vh;
}
.DiaFre{
    display: flex;
    background-color: var(--ter-color);
    color: white;
    padding: 2%;
    width: 100%;
    height: 5vh;
    border-top: white solid .3vh;
    border-bottom: white solid .3vh;;
}
.DiaFre h2{
    position: relative;
    bottom: 1.2vh;
    margin: 0 7.5vw 1vh 7.5vw;
    font-size: 2vh;
}
.DiaFacFre{
    border: white solid .5vh;
    display: none;
    overflow: auto;
    border-radius: 1rem;
    position: absolute;
    margin: 1.5vh;
    background-color: var(--ter-color);
    height: 50vh;
    width: 57vw;
}
.BtnReturn{
    font-size: 2vh;
    font-weight: 600;
    position: relative;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 20%;
    margin: 0
}
.BtnReturn i{
    margin-left: 1vw;
}
.TitleListaGasFre{
    color: var(--ter-color);
    text-align: center;
    font-size: 5vh;
    font-weight: 600;
    position: relative;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 20%;
    margin: 0
}
.BtnReturnFre{
    position: absolute;
    text-align: center;
    font-weight: 600;
    font-size: 2vh;
    color:var(--ter-color);
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
/*DIV_CUENTA*/
.AccountSettings{
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    margin-top:8vh ;
    margin-right: 5vw;
    background-color: var(--sec-color);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    grid-column: 2/3;   
    width: 60vw;
    height: 75vh;
}
.AccountSettings h1{
    width: 100%;
    margin-left: 2vw;
    color: white;
    height: 15%;
    font-size: 8vh;
}
.AccountBody{
    display: grid;
    margin: 4vh;
}
.OpcAcc{
    position: relative;
    height: fit-content;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
}
.OpcBtnAcc{
    position: relative;
    background-color: transparent;
    border: none;
    color:white;
    font-size:3vh;
    width: 100%;
    height: 100%;
}
.OpcBtnAcc p{
    left: 3.5vw;
    position: absolute;
}
.OpcBtnAcc i{
    font-size: 2vw;
    position: absolute;
    left: 1vw;
}
.AccIcon{
    margin: 2vh;
    color: white;
}
.LineAcc{
    background-color: white;
    margin: 5vh;
    height: 2px;
    width: 17vw;
}
.ContainerAcc{
    display: flex;
}
.ContainerResultsAcc{
    padding: 1vw;
    border-radius: 1vw;
    background-color: var(--ter-color);
    height: 57vh;
    width: 31vw;
}
.ContainerResultsAcc h2{
    color:white;
    font-size: 2vw;
}
.ContainerResultsAcc h3{
    color: white;
    font-size: 2vh;
}
.ContainerResultsAcc p{
    font-size: 1vw;
    color: white;
    text-align: justify;
}
.BtnsVaciar{
    margin-top: 5vh;
    display: flex;
}
.BtnsDelete{
    margin-top: 11.1vh;
    display: flex;
}

/*PAGINA_FRECUENTES_GUSTAVO*/
.BodyFrec{
    display:flex ;
    width: 100%;
    height: 90%;
}
.BodyLeft{
    width: 40%;
    height: 100%;
}
/* FOMR_FRECUENTES */
.FormFrec{
    overflow: auto;
    height: 60%;
    width: 100%;
    padding: 2%;
}
.FormFrecTitle{
    width: 100%;
    height: 10%;
}
.FormFrecTitle h2{
    text-align: center;
    font-size: 3vh;
    color: var(--sec-color);
}
.FormTopFrec{
    display: flex;
    height: 30%;
    width: 100%;
}
.FormLeftFrec{
    padding: 3%;
    width: 50%;
    height: 100%;
}
.FormRightFrec{
    padding-left: 5%;
    width: 50%;
    height: 100%;
}

.FormBottomFrec{
    padding: 3%;
    width: 100%;
    height: 60%;
}

.InfoFrec{
    height: 33%;
    width: 80%;
    display: grid;
    border-radius: 10px;
    background-color: var(--sec-color);
    margin: 5% 10% 5% 5%;
    padding: 2%;
}
.InfoFrec h2{
    text-align: center;
    font-size: 3vh;
    margin-left: 1vh;
    color: white;
}

.JercFrec{
    padding: 1%;
    width: 100%;
    height: 40%;
    margin-bottom: 1%;
    display: flex;
}
.JercFrec p{
    color: white;
    padding: 1.5%;
    font-size: 2vh;
    text-align: left;
    margin-left: 10%;
}
.ColorFrec-low{
    margin-left:5%;
    border: white solid 2px;
    width: 3vw;
    height: 5vh;
    border-radius: 100%;
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.ColorFrec-medium{
    margin-left:5%;
    border: white solid 2px;
    width: 3vw;
    height: 5vh;
    border-radius: 100%;
    background-color: var(--sec-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.ColorFrec-high{
    margin-left:5%;
    border: white solid 2px;
    width: 3vw;
    height: 5.5vh;
    border-radius: 100%;
    background-color: var(--ter-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.ListFreTitle{
    width: 80%;
    margin: 0 10% 5% 10%;
    background-color: var(--sec-color);
    border-radius: 10px;
    padding: 4%;
}
.ListProx{
    margin-top: 1%;
    width: 60%;
    height: 100%;
}
.ListFreTitle h1{
    font-weight: 600;
    text-align: center;
    color: white;
    font-size: 5vh;
}
.ListFreBody{
    width: 90%;
    height: 70%;
    margin: 5%;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}
.GasProx{
    margin:0 0 10% 0%;
    display: grid;
    width: 100%;
    height: 25%;
    padding: 2%;
}
.GasProxTitle{
    height: 15%;
}
.GasProxTitle h2{
    margin-left: 2%;
    color: var(--ter-color);
    font-size: 2.5vh;
}
.GasProxBody{
    width: 100%;
    height: 85%;
    display: flex;
}
.ColorIndicate-low{
    width: 20%;
    margin: 1% 5% 1% 5%;
    height: 90%;
    background-color: var(--main-color);
    border-radius: 10px;
    border:white solid 2px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}
.ColorIndicate-medium{
    width: 20%;
    margin: 1% 5% 1% 5%;
    height: 90%;
    background-color: var(--sec-color);
    border-radius: 10px;
    border:white solid 2px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}
.ColorIndicate-high{
    width: 20%;
    margin: 1% 5% 1% 5%;
    height: 90%;
    background-color: var(--ter-color);
    border-radius: 10px;
    border:white solid 2px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}
.ContainerDataProx{
    margin: 0 5% 0 5%;
    width: 85%;
    height: 100%;
    display: flex;
    text-align: center;
    color: var(--sec-color);
}
.DataProx{
    width: 20%;
    height: 100%;
    margin: 5%;
}
.DataProx h2{
    margin-bottom: 2%;
    color: var(--sec-color);
    font-size: 2vh;
}
.DataProx h3{
    font-size: 2vh;
}
.DataProx p{
    font-size: 1.5vh;
}
.TimerProx{
    width: 25%;
    height: 100%;
    margin: 5%;
}
.TimerProx h2{
    text-align: center;
    margin-bottom: 2%;
    font-size: 2vh;
    color: var(--sec-color);
}
.TimerProx p{
    font-size: 2vh;
    color: var(--sec-color);
}
.DateFact{
    width: 30%;
    height: 100%;
    margin: 5% 5% 5% 0;
}
.DateFact h2{
    text-align: center;
    margin-bottom: 2%;
    font-size: 2vh;
    color: var(--sec-color);
}
.DateFact p{
    font-size: 2vh;
    color: var(--sec-color);
}
.PeriodPleg{
    display: grid;
    position: relative;
    margin: 3%;
}
.FormRightFrec h2{
    text-align: left;
    color: var(--sec-color);
    font-size: 2vh;
}
.FormRightFrec p{
    text-align: left;
    color: var(--sec-color);
    font-size: 2vh;
}
.LabRadPer{
    color: var(--sec-color);
    font-size: 2vh;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.RadPer{
    display: none;
}
.RadD{
    width: 1.25em;
    height: 1.25em;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
}
.RadD::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background:var(--ter-color);
    border-radius: 50%;
    transform: scale(0);
}
.RadPer:checked + .RadD::after{
    transform: scale(1);
}
/*PAGINA_SEMANAS_DIAS_GUSTAVO*/
.Week{
    display: flex;
    width: 100%;
    height: 100%;
}
.Days{
    display: none;
    width: 100%;
    height: 100%;
}

.DaysData{
    width: 40%;
    height: 100%;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 4vh;
    color: var(--sec-color);
}
.GasData{
    width: 60%;
    height: 100%;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 4vh;
    color: var(--sec-color);
}
.GasData p{
    font-size: 3vh;
    color: var(--sec-color);
}
.GasDataTitle{
    width: 100%;
    height: 15%;
}
.FormDataGas{
    height: 40%;
    width: 50%;
    margin: 5% 25%;
}
.FormDesc{
    height: 50%;
    width: 80%;
    margin: 0 10%;
}
.FormDesc p{
    font-size: 2vh;
    color: var(--sec-color);
    margin-bottom: 3%;
}
.GasDaysList{
    margin: 5%;
    width: 90%;
    height: 80%;
    overflow: auto;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}
.GasDayElement{
    cursor: pointer;
    width: 100%;
    height: 8%;
    color: var(--ter-color);
    display: flex;
    padding: 2%;
    border-top: none;
    border-bottom:  .17vw solid var(--ter-color);
}
.GasDayName{
    width: 50%;
    height: 100%;
}
.GasDayName h2{
    font-size: 1.5vh;
    text-align: center;
}
.GasDayCant{
    width: 50%;
    height: 100%;
}
.GasDayCant h2{
    font-size: 1.5vh;
    text-align: center;
}
.EditGasData{
    margin: 10% 15%;
    width: 70%;
    height: 50%;
}
.DaysTitle button{
    position: absolute;
    border-radius: 10px;
    margin: 3%;
    cursor: pointer;
    border: none;
    font-size: 3vh;
    background-color: var(--ter-color);
    color: white;
    width: 10%;
    height: 30%;
}